mpi_testing/hello
mpi_testing/send_receive
png_processing/distributed_blur
png_processing/blur
png_processing/compare
png_processing/gb
png_processing/*out.png
png_processing/*.txt
png_processing/*.o
