mpi_testing/hello
mpi_testing/send_receive
blur/distributed_blur
blur/blur
blur/compare
blur/*out.png
blur/*.txt
blur/*.o
png_processing/gb
png_processing/*out.png
png_processing/*.txt
png_processing/*.o
